{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}


<h1>Liste des formations</h1>

<div>
    {% for formation in formations %}
    <ul>
        <li><a href="{{ path('show_formation', {'id' : formation.id }) }}">{{ formation }}</a></li>
    </ul>
    {% endfor %}
    {# <a href="{{ path('add_formation') }}">Ajouter une formation</a> #}
</div>
{% endblock %}