* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --textA: white;
    --navHover: #458FFF;
    --links: black;
}

/* NAV BAR --------------------------- */

.nav-1 {
    display: flex;
    width: auto;
    height: 80px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.nav-align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-align ul {
    display: flex;
    gap: 40px;
}

.nav-align ul a {
    color: var(--links);
}

.nav-align ul a:hover {
    text-decoration: underline var(--navHover);
}

.nav-2 {
    width: 200px;
    padding: 10px 0 10px 0;
}

.nav-2 ul a {
    color: var(--links);
}

.nav-2 ul li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 15px;
}

.nav-2 ul li a {
    display: flex;
    text-align: center;
    gap: 10px;
}

.nav-2 ul li:hover {
    border-top: 1px solid var(--navHover);
    border-bottom: 1px solid var(--navHover);
}

.main-container {
    display: flex;
    height: calc(100vh - 80px);
    margin-bottom: 80px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.096);
}

.menu-logout {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    bottom: 0px;
    right: calc(100vw - 200px);
    left: 0px;
    width: 200px;
    height: 80px;
    background-color: white;
}

.add-menu {
    border-top: 1px solid rgba(0, 0, 0, 0.100);
}

/* MAIN ------------------------------- */

/* LOGIN */

.login-form h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--navHover);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 5px;
    width: 450px;
    height: auto;
    margin: 100px auto 0 auto;
}

.login-form a {
    color: var(--navHover);
    font-size: 14px;
    font-weight: 500;
}

.login-form a:hover {
    text-decoration: underline var(--navHover);
}

.login-form p {
    font-size: 14px;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-form input:focus {
    filter: drop-shadow(0 0 0.20rem #458FFF);
}

.btn-primary {
    background-color: #458FFF;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
    filter: drop-shadow(0 0 0.75rem #458FFF);
}

/* REGISTER */

.register-form h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--navHover);
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 5px;
    width: 450px;
    height: auto;
    margin: 100px auto 0 auto;
    text-align: center;
}

.register-form input:focus {
    filter: drop-shadow(0 0 0.20rem #458FFF);
}

em {
    font-size: 12px;
}

.register-form label {
    font-size: 16px;
    font-weight: 500;
}

.register-form a {
    color: var(--navHover);
    font-size: 14px;
    font-weight: 500;
}

.register-form p {
    font-size: 14px;
    font-weight: 500;
}

.register-form a:hover {
    text-decoration: underline var(--navHover);
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    gap: 10px;
}
input[type=checkbox] {
    width:inherit;
    margin-left: 5px;
}

.register-form input:focus {
    filter: drop-shadow(0 0 0.20rem #458FFF);
}

.btn {
    background-color: #458FFF;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    filter: drop-shadow(0 0 0.75rem #458FFF);
}

/* FOOTER ----------------------------- */
footer {
    display: flex;
    position: fixed;
    left: 200px;
    bottom: 0;
    right: 0;
    width: auto;
    color: white;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.096);
    border-left: 1px solid rgba(0, 0, 0, 0.096);
    background-color: white;
}

footer ul {
    display: flex;
    gap: 40px;
}

footer ul a {
    color: black;
}

footer ul a:hover {
    text-decoration: underline black;
}

.main-content {
    margin-bottom: 80px;
    padding-left: 5px;
}