* {
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --textA : white;
    --navHover: #458FFF;
    --links: black;
}
/* NAV BAR --------------------------- */

.nav-1 {
    display: flex;
    width: auto;
    height: 80px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.nav-align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-align ul {
    display: flex;
    gap: 40px;
}

.nav-2 {
    width: 200px;
    padding: 20px 0 20px 0;

}

.nav-2 ul a {
    color: var(--links);
}

.nav-2 ul li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.nav-2 ul li:hover {
    border-top: 1px solid var(--navHover);
    border-bottom: 1px solid var(--navHover);
}

.main-container {
    display: flex;
    height: calc(100vh - 80px);
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.096);
}

.menu-logout {
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

.add-menu {
    border-top: 1px solid rgba(0, 0, 0, 0.100);
}

/* MAIN ------------------------------- */

/* FOOTER ----------------------------- */
footer {
    display: flex;
    position: fixed;
    left: 200px;
    bottom: 0;
    right: 0;
    width: auto;
    color: white;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}

footer ul {
    display: flex;
    gap: 40px;
}

footer ul a {
    color: black;
}