/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    text-decoration: none;
} */

/* Styles pour la mise en page générale */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour les en-têtes */
h1 {
    color: #333;
}

h2 {
    color: #555;
}

/* Styles pour les liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les listes et les tableaux */
ul, ol {
    list-style: none;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Styles pour les boutons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Styles pour les formulaires */
form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles pour les messages d'erreur ou de succès */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

/* Styles pour les en-têtes de tableau */
thead {
    background-color: #007bff;
    color: #fff;
}

/* Styles pour les boutons "Désinscrire" et "Inscrire" */
.deregister-button, .register-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.register-button {
    background-color: #28a745;
}

/* Ajoutez des styles personnalisés selon vos besoins */

/* Styles pour les menus déroulants (select) */
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Styles pour les champs de date (input type=date) */
input[type="date"] {
    width: 50%; /* Vous pouvez ajuster la largeur selon vos besoins */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Placeholder pour les champs de date (peut nécessiter un préfixe du fournisseur de navigateur) */
input[type="date"]::placeholder {
    color: #999;
}
