{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

<h1>Liste des stagiaires</h1>

{% for stagiaire in stagiaires %}
<a href="{{ path('show_stagiaire', {'id' : stagiaire.id }) }}">{{ stagiaire }}</a>
<a href="{{ path('delete_stagiaire', {'id' : stagiaire.id}) }}">Supprimer</a>
<br>
{% endfor %}
<a href="{{ path('new_stagiaire') }}" >Ajouter un stagiaire</a>
{% endblock %}