{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

<h1>Liste des stagiaires</h1>

{% for stagiaire in stagiaires %}
<div style="padding: 10px;">
    <a href="{{ path('show_stagiaire', {'id' : stagiaire.id }) }}">{{ stagiaire }}</a>
    {% if app.user %}
    <a style="color: brown;" href="{{ path('delete_stagiaire', {'id' : stagiaire.id}) }}">Supprimer</a>
    {% endif %}
    <br>
</div>
{% endfor %}
{% if app.user %}
    <a href=" {{path('new_stagiaire') }}">Ajouter un stagiaire</a>
{% endif %}
{% endblock %}