{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

<h1>Liste des modules</h1>

{% for module in modules %}

<a href="">{{ module }}</a><br>

{% endfor %}

{% endblock %}